.container {
    padding: 3rem;
    /* height: 100vh; */
    display: flex;
    flex-direction: row; /* row column row-reverse column-reverse */
    flex-wrap: wrap; /* nowrap wrap wrap-reverse */
    gap: 3rem;

    /* EIXO HORIZONTAL - Main Axis */
    justify-content: center; /* flex-start flex-end center space-between space-around */
    
    /* EIXO VERTICAL - Cross Axis */
    align-items: center; /* flex-start flex-end center baseline stretch */
    align-content: center; /* flex-start flex-end center space-between space-around stretch */
    
    @media(max-width: 768px) {
        flex-flow: column nowrap;
        height: auto;
    }

}

.title {
    font-size: 3rem;
    font-size: 10rem;
    font-weight: bolder;
    text-align: center;

    @media(max-width: 1200px) {
        font-size: 4rem;
    }
    
    @media(max-width: 768px) {
        font-size: 3rem;
    }
}

.card {
    width: 30rem;
    height: 30rem;
    background-color: var(--primary-contrast-dark);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* row column row-reverse column-reverse */
    justify-content: center; /* flex-start flex-end center space-between space-around */
    align-items: center; /* flex-start flex-end center baseline stretch */
}

.card h2 {
    font-size: 3rem;
    color: var(--primary-contrast-light);
    text-align: center;
}

.card p {
    font-size: 2rem;
    color: var(--primary-contrast-light);
    text-align: center;
}

